body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

img {
    user-select: none;
}

#container {
    position: relative;
    background: #E5E5E5;
    user-select: none;
}

#container div,
p {
    user-select: none;
}

.menu,
.menuFin {
    width: 26vw;
    height: 12vw;
    position: absolute;
    background-color: grey;
    text-align: center;
    font-size: 4vw;
}

#salud,
#municion {
    padding-right: 18vw;
}

#ronda,
#municion,
#salud {
    font-size: 2vw;
}

.botonContinuar,
.botonReiniciar {
    font-size: 2vw;
    margin: 8px;
}

#personaje {
    transform: rotate(0deg);
}

@keyframes saludCritica {
    50%{filter: brightness(0.5) sepia(1) hue-rotate(-52deg) saturate(5);}
    100%{filter: none;}
}

#arma {
    position: absolute;
    display: block;
    width: 0.5vw;
    height: 0.5vw;
}

#armaActual {
    width: 80%;
}

.PISTOLA1, .PISTOLA2 {
    width: 1vw;
    height: 1vw;
    position: absolute;
    border-radius: 25px;
    background-color: black;
    display: block;
}

.ARMARAYOS {
    width: 0.8vw;
    height: 0.8vw;
    position: absolute;
    border-radius: 25px;
    background-color: blue;
    display: block;
}

.ESCOPETA1 {
    width: 0.5vw;
    height: 0.5vw;
    position: absolute;
    border-radius: 25px;
    background-color: black;
    display: block;
}

.zombieTipo1 {
    width: 1.7vw;
    height: 1.7vw;
    position: absolute;
    border-radius: 0px;
    display: block;
}

.zombieTipo2 {
    width: 2.2vw;
    height: 2.2vw;
    position: absolute;
    border-radius: 0px;
    display: block;
}

.BulletZ {
    width: 1.4vw;
    height: 1.4vw;
    position: absolute;
    border-radius: 25px;
    display: block;
  }
  .RIFLEASALTO1{
    width: 0.8vw;
    height: 0.8vw;
    position: absolute;
    border-radius: 25px;
    background-color: black;
    display: block;
  }

.BOTIQUIN,
.ArmaDrop, .MUNICION {
    width: 2.4vw;
    height: 2.4vw;
    position: absolute;
    display: block;
    opacity: 1;
    animation: animate 30s linear;
}

@keyframes animate {
    83%{opacity: 0.2;}
    84%{opacity: 1;}
    85%{opacity: 0;}
    86%{opacity: 1;}
    87%{opacity: 0;}
    88%{opacity: 1;}
    89%{opacity: 0;}
    90%{opacity: 1;}
    91%{opacity: 0;}
    92%{opacity: 1;}
    93%{opacity: 0;}
    94%{opacity: 1;}
    95%{opacity: 0;}
    96%{opacity: 1;}
    97%{opacity: 0;}
    98%{opacity: 1;}
    99%{opacity: 0;}
    100% {opacity: 1;}
}

.SANGRE {
    width: 3vw;
    height: 3vw;
    position: absolute;
    display: block;
    opacity: 1;
    animation: animate2 30s linear;
}

@keyframes animate2 {
    100% {opacity: 0;}
}

footer {
    margin-top: 3vh;
}
#animate{
    z-index: 9999999999;
}

.zombieTipo1,
.zombieTipo2,
.zombieTipo3,
.zombieTipo4{
    z-index: 9999999999999;
}

#menu, #menuFin {
    z-index: 9999999999999999;
}

#Scoreboard {
    position: absolute;
    background: bisque;
    user-select: none;
    width: 12vw;
    height: 2vw;
    left: 86vw;
}

#Scoreboard-data{
    font-size: 1.4vw;
    margin-right: 2.8%;
    text-align: right;
}

#armamano1{
    position: absolute;
    background: bisque;
    user-select: none;
    width: 13vw;
    height: 5vw;
    left: 0.85vw;
    top: 20vw;
}

#armamano2{
    position: absolute;
    background: bisque;
    user-select: none;
    width: 13vw;
    height: 5vw;
    left: 0.85vw;
    top: 28.5vw;
    opacity: 0.4;
}

#armamano1-img{
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#armamano2-img{
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
}

#armamano1-data, #armamano2-data {
    font-size: 1vw;
}