body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

img {
    user-select: none;
}

#container {
    position: relative;
    background: #E5E5E5;
    user-select: none;
}

#container div,
p {
    user-select: none;
}

.menu,
.menuFin {
    width: 26vw;
    height: 12vw;
    position: absolute;
    background-color: grey;
    text-align: center;
    font-size: 4vw;
}

#salud,
#municion {
    padding-right: 18vw;
}

#ronda,
#municion,
#salud {
    font-size: 2vw;
}

.botonContinuar,
.botonReiniciar {
    font-size: 2vw;
    margin: 8px;
}

#personaje {
    transform: rotate(0deg);
}

#arma {
    position: absolute;
    display: block;
    width: 0.5vw;
    height: 0.5vw;
}

#armaActual {
    width: 80%;
}

.PISTOLA1 {
    width: 1vw;
    height: 1vw;
    position: absolute;
    border-radius: 25px;
    background-color: black;
    display: block;
}

.ESCOPETA1 {
    width: 0.5vw;
    height: 0.5vw;
    position: absolute;
    border-radius: 25px;
    background-color: black;
    display: block;
}

.zombieTipo1 {
    width: 1.7vw;
    height: 1.7vw;
    position: absolute;
    border-radius: 0px;
    display: block;
}

.zombieTipo2 {
    width: 2.2vw;
    height: 2.2vw;
    position: absolute;
    border-radius: 0px;
    display: block;
}

.BulletZ {
    width: 1.4vw;
    height: 1.4vw;
    position: absolute;
    border-radius: 25px;
    display: block;
}

.BOTIQUIN,
.ArmaDrop {
    width: 2.4vw;
    height: 2.4vw;
    position: absolute;
    display: block;
}

footer {
    margin-top: 3vh;
}