<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/indexStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="./img/favicon.png">
    <title>Zombase</title>
    <script src="https://kit.fontawesome.com/f3f81dc86a.js" crossorigin="anonymous"></script>

</head>

<body class="bg-purple-100">
    <!-- Navbar completa -->
    <nav class="bg-purple-400">
        <div class="max-w-7xl mx-auto px-5">
            <div class="flex justify-between">
                <div class="flex space-x-10">
                    <!-- logo -->
                    <div>
                        <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <img src="./img/logo.png" width="200" alt="">
                        </a>
                    </div>

                    <!-- menu principal -->
                    <div class="hidden md:flex items-center space-x-5">
                        <a href="/"
                            class="hover:bg-purple-500 px-2 py-1 rounded-md block text-white font-semibold">Inicio</a>
                        <a href="/about-us" class="link-nav">Sobre nosotros</a>
                        <a href="/partida/top" class="link-nav">Top Jugadores</a>
                    </div>
                </div>

                <!-- menu login -->
                <div class="hidden md:flex flex-row items-center space-x-5">
                    {{#if jwt}}
                    <a href="/perfil/ver" class="link-nav">Perfil</a>
                    <form action="/auth/logout" method="POST" class="h-full align-middle pt-8">
                        <button href="/login"
                            class="font-semibold px-2 py-1 rounded-md bg-red-900 box-border text-white hover:bg-red-700 transition duration-500 shadow">Desconectar</a>
                    </form>

                    {{else}}
                    <a href="/login" class="link-nav">Iniciar Sesión</a>
                    <a href="/login"
                        class="font-semibold px-2 py-1 rounded-md bg-blue-900 box-border text-white hover:bg-purple-900 transition duration-500 shadow">Registrar</a>
                    {{/if}}


                </div>



                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>


        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            <a href="/" class="link">Inicio</a>
            <a href="/about-us" class="link">Sobre nosotros</a>
            <a href="/partida/top" class="link">Top jugadores</a>
            {{#if jwt}}
            <a href="/perfil/ver" class="link">Perfil</a>
            <form action="/auth/logout" method="POST">
                <button type="submit" class="link-mobile-logout w-full">Desconectar</a>
            </form>
            {{else}}
            <a href="/login" class="link">Iniciar Sesión</a>
            <a href="/login" class="w-full link">Registrar</a>
            {{/if}}
        </div>
    </nav>


    <!--Container-->
    <div>
        <div id="container" draggable="false">
            <img src="./resources/terrenos/TERRENO1.png" style="height: 100%; width: 100%" draggable="false"
                id="terreno">
            <div id="animate">
                <img height="100%" id="personaje" draggable="false">
            </div>
            <div id="menuPausa" draggable="false"
                class="bg-yellow-300 text-center absolute rounded-xl border-[0.25vw] border-white shadow-xl"
                style="display: none; z-index: 1;">
                <div class="text-center bg-yellow-300 w-[26vw] h-auto rounded-xl">
                    <p class="text-[1.5vw] m-[2vw] font_game">PAUSA</p>
                    <p class="font_game text-[0.75vw]"> El juego se encuentra en pausa, toma un descanso y vuelve a la
                        batalla!
                    </p>
                    <div class="flex flex-row justify-evenly gap-[0.5vw] mx-[1vw] mt-[2vw] mb-[4vw]">
                        <button onclick="reanudar();"
                            class="text-[1vw] flex-grow bg-green-400 p-[1vw] rounded-md border-green-800 border-dashed border-[0.25vw] font_game hover:text-white">PLAY</button>
                        <button onclick="resetear();"
                            class="text-[1vw] bg-red-400 p-[1vw] rounded-md border-red-800 border-dashed border-[0.25vw] font_game hover:text-white">RESTART</button>
                    </div>
                </div>
            </div>
            <div id="menuMuerte" draggable="false"
                class="bg-yellow-300 text-center absolute rounded-xl border-[0.25vw] border-white shadow-xl"
                style="display: none; z-index: 2;">
                <div class="text-center bg-yellow-300 w-[26vw] h-auto rounded-xl">
                    <p class="text-[1.5vw] m-[2vw] font_game">HAS MUERTO :(</p>
                    <p class="font_game text-[0.75vw]"> Haber perdido una batalla, no significa perder la guerra. Recoge
                        tus armas y vuelve al ataque!
                    </p>
                    <div class="flex flex-row justify-evenly gap-[0.5vw] mx-[1vw] mt-[2vw] mb-[4vw]">
                        {{#if jwt}}<button onclick="guardarPartida();"
                            class="text-[1vw] flex-grow bg-green-400 p-[1vw] rounded-md border-green-800 border-dashed border-[0.25vw] font_game hover:text-white">GUARDAR
                            PARTIDA</button>{{/if}}
                        <button onclick="resetear();"
                            class="text-[1vw] bg-red-400 p-[1vw] rounded-md border-red-800 border-dashed border-[0.25vw] font_game hover:text-white">RESTART</button>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- info (temporal)-->
    <div class="flex flex-row justify-between mx-[15vw]">
        <div class="flex flex-row gap-3 items-center">
            <i class="fas fa-heartbeat text-red-600" style="font-size: 1.5vw;"></i>
            <p id="salud" class="font_game text-[1.5vw] w-auto"></p>
        </div>
        <div class="flex flex-row gap-3 items-center">
            <i class="fas fa-khanda text-green-800" style="font-size: 1.5vw;"></i>
            <p id="ronda" class="font_game text-[1.5vw] w-auto">Ronda:</p>
        </div>
    </div>

    <!-- Scoreboard (temporal)-->
    <div id="Scoreboard" class="Scoreboard font_game" draggable="false">
        <img height="100%" id="Scoreboard-img" draggable="false">
        <p id="Scoreboard-data"></p>
    </div>

    <!-- arma1 (temporal)-->
    <div id="armamano1" class="armamano1" draggable="false">
        <img id="armamano1-img" draggable="false">
        <p style="text-align: center;" id="armamano1-data"></p>
        <p style="text-align: center;" id="armamano1-municion">Balas / Cargador</p>
    </div>
    <!-- arma2 (temporal)-->
    <div id="armamano2" class="armamano2" draggable="false">
        <img id="armamano2-img" draggable="false">
        <p style="text-align: center;" id="armamano2-data"></p>
        <p style="text-align: center;" id="armamano2-municion"></p>
    </div>

    <!-- Slider audio -->
    <div class="audiocontainer" id="audiocontainer">
        <img src="./img/volumen.png" style="width: 100%; height: 100%;" id="iconoaudio">
        <input type="range" min="0" max="100" value="20" class="slider" id="audio">
    </div>

    <!-- Div para debugging -->
    <div id="debug"></div>

    </div>
    <footer class="bg-gray-900 flex justify-center">
        <div class="container mx-auto px-6">
            <div class="flex flex-col items-center ">
                <div class="sm:w-2/3 pt-5 ">
                    <img src="./img/vigade.png" class="w-10 mx-auto" alt="">
                </div>
                <div class="sm:w-2/3 pt-5">
                    <p class="text-sm text-gray-400 mb-2 text-center">
                        Este juego fue desarrollado con amor por el equipo de Vigade Studios
                    </p>
                </div>
                <div class="sm:w-2/3 pt-5">
                    <div class="flex flex-row gap-5 justify-center">
                        <a href="#"><i class="fa fa-facebook link-footer"></i> </a>
                        <a href="#"><i class="fa fa-twitter link-footer"></i> </a>
                        <a href="#"><i class="fa fa-github link-footer"></i> </a>
                        <a href="#"><i class="fa fa-instagram link-footer"></i> </a>
                        <a href="#"><i class="fa fa-linkedin link-footer"></i> </a>
                    </div>
                </div>
                <div class="sm:w-2/3 pt-5 pb-3">
                    <div class="flex flex-row gap-5 justify-center">
                        <a href="#" class="link-footer">Politica de privacidad</a>
                        <a href="#" class="link-footer">Terminos y condiciones</a>
                        <a href="#" class="link-footer">Soporte</a>
                        <a href="#" class="link-footer">Contacto</a>
                        <a href="#" class="link-footer">Declaración sobre las cookies</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var jwt = "{{jwt}}";
    </script>
    <!--Ver Mis partidas-->
    <script src="./scripts/verMisPartidas.js"></script>
    <!--Listado de armas en Formato JSON-->
    <script src="./scripts/armasJSON.js"></script>
    <!--Guardar partida-->
    <script src="./scripts/guardarPartida.js"></script>
    <!--Generación de drop de armas aleatorio-->
    <script src="./scripts/generarArma.js"></script>
    <!--Función de recarga del arma actual-->
    <script src="./scripts/recargar.js"></script>
    <!--Cambia la imagen actual del personaje al recoger un arma y activa modo de disparo automatico en ciertos casos-->
    <script src="./scripts/cambiarImagenPersonaje.js"></script>
    <!--Función para resetear la partida-->
    <script src="./scripts/resetear.js"></script>
    <!--Función de pausa-->
    <script src="./scripts/pausa.js"></script>
    <!--Función de reanudación-->
    <script src="./scripts/reanudar.js"></script>
    <!--Función de destrucción de un elemento en el DOM y su correspondiente array-->
    <script src="./scripts/destruir.js"></script>
    <!--Función de colision de las balas disparadas por el jugador y drop rates-->
    <script src="./scripts/colision.js"></script>
    <!--Función de colision de las balas disparadas por el zombie-->
    <script src="./scripts/colisionBalaZ.js"></script>
    <!--Función de reposicion  de todos los objetos en pantalla-->
    <script src="./scripts/reposicionDeObjeto.js"></script>
    <!--Función de movimiento del jugador y detección de TECLAS PULSADAS, interaccion items armas y entorno-->
    <script src="./scripts/movimiento.js"></script>
    <!--Función de disparo del jugador-->
    <script src="./scripts/disparar.js"></script>
    <!--Función de disparo del zombie-->
    <script src="./scripts/disparoZombie.js"></script>
    <!--Función que controla el intervalo de las balas del jugador-->
    <script src="./scripts/movimientoBala.js"></script>
    <!--Función que controla el intervalo de las balas del zombie-->
    <script src="./scripts/movimientoBalaZombie.js"></script>
    <!--Función que controla la generación de zombies-->
    <script src="./scripts/crearZombie.js"></script>
    <!--Función que controla la generación de distintos tipos de zombies-->
    <script src="./scripts/generarTipoZombie.js"></script>
    <!--Función que controla el intervalo del movimiento del zombie-->
    <script src="./scripts/movimientoZombie.js"></script>
    <!--Función que controla la colision del zombie con jugador y paredes y cooldown-->
    <script src="./scripts/colisionZombie.js"></script>
    <!--Función que reestablece el movimiento del zombie-->
    <script src="./scripts/reestablecerMovimiento.js"></script>
    <!--Función para el control de rondas-->
    <script src="./scripts/nuevaRonda.js"></script>
    <!--Función de fin de partida cuando la salud llega a 0-->
    <script src="./scripts/finalPartida.js"></script>
    <!--Función para cambiar armas con la ruleta del raton (modo de disparo seteado a default)-->
    <script src="./scripts/cambiarArma.js"></script>
    <!--Función para eliminar items del suelo con el tiempo (30s) -->
    <script src="./scripts/desvanecimientoItems.js"></script>
    <!-- Función para generar explosiones -->
    <script src="./scripts/explosion.js"></script>
    <!-- Función para generar explosiones desde zombies-->
    <script src="./scripts/explosionZombie.js"></script>
    <!-- Función para generar drops y puntuacion! -->
    <script src="./scripts/drops.js"></script>
    <!-- Función para encadenar los rayos del arma especial -->
    <script src="./scripts/encadenarRayo.js"></script>
    <!-- Núcleo del juego -->
    <script src="./scripts/main.js"></script>

    <script>
        // hacemos las variables
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        // agrego los listeners para togglear
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
            reposicionDeObjetos();
        });
    </script>

</body>

</html>