@tailwind base;
@tailwind components;
@tailwind utilities;
.link {
    @apply block py-2 px-4 text-center font-semibold bg-purple-500 text-white hover:bg-purple-600
}

.link-nav {
    @apply hover:bg-purple-500 hover:text-white px-2 py-1 rounded-md block text-gray-100 font-semibold
}

.link-footer {
    @apply text-gray-500 text-sm hover:text-gray-300
}